// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.questions-index {
   background-color: #e6e6e6;
   padding: 15px 20px 15px 20px;
   font-size: 18px;
   list-style-type: none;
   border-radius: 3px;
   border: 1px solid lightgray;
   font-weight: 600;
   width: 65%;
   margin: auto;
   margin-top: 30px;
   // margin-bottom: 30px;
}

.questions-index-show {
  margin-top: 70px;
}

// .questions-index:first-child{
//    margin-top: ;
// }

.answer-input{
   width: 100%; 
}

.ask-question{
   background-color: white;
   color: gray;
   padding: 30px 20px 15px 20px;
   font-size: 18px;
   list-style-type: none;
   border-radius: 4px;
   border: 1px solid lightgray;
   font-weight: 600;
   width: 65%;
   margin: auto;
   margin-top: 72px;
   padding-bottom: 30px;
}

.ask-question-username{
   font-family: 'Times New Roman', Times, serif;
   font-size: 14px;
   text-decoration: none;
   color: gray;
}

.ask-question-username:hover {
   text-decoration: underline;
}

.ask-question-info{
   text-decoration: none;
   color: gray;
}

.ask-question-info:hover{
   color: blue;
}

.ask-question-input{
   font-size: 18px;
   margin: 0;
   margin-top: 3px;
   width: 100%;
   background-color: rgb(226, 226, 226);
}

.questions-index-links{
   color: black;
   text-decoration: none;
   // font-weight: 600;
}

.questions-index-links:hover{
   text-decoration: underline;
}

.questions-index-author{
   font-size: 12px;
}

.questions-index-border{
   border-bottom: solid 1px black;
}


.ask-question-btn {
   margin-top: 5px;
   margin-right: -10px;
   float: right;
   border-radius: 4px;
   padding: 3px;
   background-color: #4bb3d6;
   color: white;
   font-weight: 600;
} 

.ask-question-btn:hover {
   background-color: #0d6dbb;
}


.question-index-ul:last-child{
   margin-bottom: 200px;
}