// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.questions-index {
   background-color: white;
   padding: 15px 20px 15px 20px;
   font-size: 18px;
   list-style-type: none;
   border-radius: 3px;
   border: 1px solid lightgray;
   font-weight: 600;
   width: 60%;
   margin: auto;
   margin-top: 30px;
   // margin-bottom: 30px;
}

// .questions-index:first-child{
//    margin-top: ;
// }

.ask-question{
   background-color: white;
   color: gray;
   padding: 15px 20px 15px 20px;
   font-size: 18px;
   list-style-type: none;
   border-radius: 4px;
   border: 1px solid lightgray;
   font-weight: 600;
   width: 60%;
   margin: auto;
   margin-top: 30px;
   padding-bottom: 30px;
}

.ask-question-username{
   font-family: 'Times New Roman', Times, serif;
   font-size: 14px;
   text-decoration: none;
   color: gray;
}

.ask-question-username:hover {
   text-decoration: underline;
}

.ask-question-info{
   text-decoration: none;
   color: gray;
}

.ask-question-info:hover{
   color: blue;
}

.ask-question-input{
   font-size: 18px;
   margin: 0;
   margin-top: 3px;
   width: 100%;
}

.questions-index-links{
   color: black;
   text-decoration: none;
}

.questions-index-links:hover{
   text-decoration: underline;
}

.question-index-author{
   font-size: 12px;
}


.ask-question-btn {
   margin-top: 5px;
   margin-right: -10px;
   float: right;
   border-radius: 4px;
   padding: 3px;
   background-color: rgb(75, 179, 214);
   color: white;
   font-weight: 600;
} 

.ask-question-btn:hover {
   background-color: rgb(13, 109, 187);
}