// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav-bar {
   display: flex;
   flex-direction: row;
}

.logo {
   color: #b92b27;
}

.btn {
   color: grey;
}

.nav-username {
   color: #b92b27;
}

.nav-logout {
   background-color: #b92b27;
   color: white;
   border-radius: 3px;
}





